<div class="ui center aligned container" style="width:40%">
  <h2 class="ui huge header">Sign UP</h2>
  <div class="ui container">
    <div class="ui segment">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "ui form"}) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field" style="font-size: 1.3em;">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field" style="font-size: 1.3em;">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="field" style="font-size: 1.3em;">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up", class: "ui primary large button" %>
        </div>
      <% end %>
      </div>

      <%= render "devise/shared/links" %>
  </div>
</div>