<div id="content">
  <div class="ui container">
    <div class="ui center aligned segment">
      <h2 class="huge header"><%= @award.name.upcase %></h2>
    </div>
    <div class="ui placeholder stacked segment">
      <div class="ui two column stackable center aligned grid">
        <div class="ui vertical divider"><i class="massive trophy icon"></i></div>
        <div class="middle aligned row">
          <div class="column">
            <div class="ui medium image">
                <%= image_tag("lolx.jfif", class: "ui image") %>
            </div>
          </div>
          <div class="column">
            <h2>Description</h2>
            <div class="ui icon header">
              <%= @award.description.upcase %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui center aligned container" style="width: 60%;">
      <div class="ui segment">
        <h3>Nominees</h3>
      </div>
      <div class="ui small sequenced images">
        <% @award.nominees.each do |nominee|%>
          <%= link_to nominee_path(nominee) do%>
          <%= image_tag("lolx.jfif", class: "ui circular image ") %>
          <% end %>
        <% end %>
      </div>
    </div>
    
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
<script>
  
  $('.sequenced.images .image').hover().transition({
    debug     : true,
        animation : 'jiggle',
        duration  : 500,
        interval  : 200
  });

</script>
